[MASTER]

disable=
    C0116, #missing-function-docstring
    import-outside-toplevel,  #disables visualizer circular reference
    arguments-differ, #algorithm's arguments differ on purpose
    pointless-string-statement,
    bare-except #no need to define error in except

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=240
